<!doctype html>
<html lang="en" data-ng-app="insight" data-ng-csp>
<head>
 <base href="/" />
</head>
<body>
 
  <div>
      <div data-ng-controller="StatusController" data-ng-init="getSync()">
        {{sync.totalCoin}}
      </div>
  </div>
   
  <script language="javascript">window.apiPrefix = '/api';</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/vendors.min.js"></script>
	<script src="js/angularjs-all.min.js"></script>
	<script src="js/main.min.js"></script>
</body>
</html>



























